/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

html,
body {
   height: 100vh;
   color: #faebd7;
   background-color: #1e1f26;
   overflow: hidden;
   text-align: center;
}

input,
button,
textarea {
   font-family: inherit;
}

button {
   cursor: pointer;
}

.btn {
   color: #faebd7;
   border: 3px solid #faebd7;
   padding: 0.5rem 1rem;
   font-size: 1.5rem;
   background-color: transparent;
}

.btn:hover {
   color: #29cef7;
   border-color: #29cef7;
}

.btn-heart {
   display: inline-block;
   width: 72px;
   height: 38px;
   background: #118c4e;
   z-index: 0;
   margin: 0;
   padding: 0;
   border: none;
   cursor: pointer;
   position: relative;
}

.btn-heart.off {
   background: #bfbfbf;
}

.btn-heart::after {
   content: "";
   height: 32px;
   width: 32px;
   background: #fff;
   top: 3px;
   right: 3px;
   transition: right 300ms, background 300ms;
   /* добавлен переход для background */
   position: absolute;
   z-index: 1;
}

.btn-heart.off::after {
   right: 37px;
}

.btn-start-screen {
   position: absolute;
   bottom: 20px;
   left: 20px;
}

.screen {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: 100vh;
   width: 100vw;
   transition: margin 0.5s ease-out;
   background-color: #011623;
}

ul,
li {
   display: block;
   list-style: none;
   margin: 0;
   padding: 0;
}

p {
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
   color: #000;
}

img {
   display: block;
   object-fit: cover;
   max-width: 100%;
}


h1 {
   font-size: 4rem;
   line-height: 2.4;
}

h2 {
   font-size: 2rem;
   line-height: 2.4;
}

.screen.up {
   margin-top: -100vh;
}

.list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.list li {
   margin: 10px;
}


.stats {
   display: flex;

   align-items: start;
   width: 100%;
   gap: 10px;
   padding: 35px;
}

.stats div {
   display: flex;
   align-items: center;
   gap: 20px;
}

.stats div span {
   margin-left: 10px;
   color: #29cef7;
}

.lives {
   display: flex;
   gap: 10px;
   align-items: center;
   margin-left: 10px;
}

.lives .heart {
   width: 20px;
   height: 20px;
}

.lives .heart.dead {
   opacity: 0.5;
}

.board {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   width: 100%;
   flex: 1;
   background-color: #031e2e;
   overflow: hidden;
   cursor: crosshair;

}

.options {
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 20px;
   padding-left: 220px;
}

#minimize {
   display: none;
}

.circle {
   /* width: 50px;
   height: 50px; */
   position: absolute;
   background-color: #29cef7;
   animation: circle 2s linear forwards;
   border-radius: 50%;
   overflow: hidden;
}

.circle::before {
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background: radial-gradient(circle, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
   top: 0;
   left: 0;
}

@keyframes circle {
   100% {
      transform: scale(0);
   }
}

.results {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   gap: 30px;
   margin-bottom: 20px;
}

.results p {
   font-size: 2rem;
}

.results p span {
   color: #29cef7;
   margin-left: 10px;
}


/*---start-screen---------------------------------------------------------------------------------------------------------------*/

.music-spotify {
   width: 500px;
   height: 147px;
   min-height: 147px;
   position: absolute;
   top: 4px;
   right: 0;
}

.window-option {
   position: absolute;
   bottom: 20px;
   right: 20px;
}

/*---result-screen--------------------------------------------------------------------------------------------------------------*/
.result-screen {
   gap: 30px;
}


/*---MAIN-BLOCK------------------------------------------------------------------------------------------------------------*/

.miss-trail {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 10px;
   height: 10px;
   pointer-events: none;
   /* Игнорируем события мыши на следе промаха */
}

.miss-line {
   position: absolute;
   background-color: #ff0000;
   /* Цвет линии (красный) */
   width: 2px;
   height: 10px;
   transform-origin: center;
   /* Устанавливаем точку вращения в центр */
}

/*---SECTION---------------------------------------------------------------------------------------------------------------*/

/*---SECTION---------------------------------------------------------------------------------------------------------------*/

/*---SECTION---------------------------------------------------------------------------------------------------------------*/

/*---SECTION---------------------------------------------------------------------------------------------------------------*/

/*---SECTION---------------------------------------------------------------------------------------------------------------*/

/*---RESPONSIVENESS------------------------------------------------------------------------------------------------------------*/
@media (max-width: 767px) {
   h1 {
      font-size: 2rem;
   }

   .btn {
      font-size: 1rem;
   }

   .stats {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px;
   }

   .stats div {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

   }

   .lives {}

   .music-spotify {
      display: none;
   }

   .options {
      padding-left: 170px;
   }

}

@media (max-width: 950px) {
   .music-spotify {
      width: 310px;
   }
}

@media (max-width: 500px) {
   .results {
      gap: 15px;
   }

   .options .btn-restart {
      opacity: 0;
   }
}